<!DOCTYPE html>
<html lang="en">
    <head>
        <title>정글 익스프레스</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- 폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <!-- 꽃가루 이벤트 -->
        <script src="https://tistory4.daumcdn.net/tistory/3134841/skin/images/confetti_v2.js"></script>



        <style>
            body,title,p,span,button {
                font-family: "Do Hyeon", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
           

            .title,p,span,body{
                color: white;
            }

            body{
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: black; /* 배경색을 검정으로 설정 */
                overflow-x: hidden; /* 가로 스크롤 방지 */
            }

            #comment{
                color: black;
            }

        
            .section {
                background-color: black;
                width: 800px;
                max-width: 100vw;
                margin: auto;
            }

            .numbers {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .numbers::after {
                content: "";
                flex-basis: 100%;
                height: 0;
            }

            .button {
                flex: 1 1 calc(20% - 10px);
                margin: 5px;
                text-align: center;
            }

            canvas{
                z-index: 10;
                pointer-events:none;
                position: fixed;
                top:0;
                transform: scale(1.1);
            }

            

            
        </style>


    </head>
    <body>
        <canvas id="canvas"></canvas>
            <section class="hero is-primary is-bold is-medium">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            정글 탐험하기
                        </h1>
                        <h2 class="subtitle">
                            새로운 정글 캠퍼스를 디테일하게 알아가는 방법
                        </h2>
                    </div>
                </div>
            </section>
            <section class="section" >
                <div class="container" id="container">
                    
                    {% if idName == "%" %}
                    <h1 class="title">현재 게스트로 사용중입니다.</h1>
                    <h2 class="subtitle">
                        <span>게스트로 사용하실 경우 해결한 <span style="color: red;">저장 및 랭킹 등록이 불가능합니다.</span> 
                        <br>가능한 로그인 이후 사용을 권장합니다.</span>
                    </h2>
                    {% else %}
                    <h1 class="title">{{ idName }} 님의 문제 현황</h1>
                    {% endif %}
                    <h2 class="subtitle">
                        <span>파란색 번호는 해결한 문제, 검은색 번호는 해결하지 못한 문제입니다.
                            <br>해결하지 못한 문제를 클릭하면 해당 문제로 이동합니다. </span>
                            
                    </h2>
                </div>

                <br>
                <button class="button is-primary" onclick="GoMain()">메인 화면으로 </button>
                <button class="button is-primary" onclick="GoRank()">랭킹 확인하기 </button>

                <hr id="line">

                <div class="numbers" id="numbers">
                    <button class="button is-white" onclick="ShowProblem(0)">1</button>
                    <button class="button is-white" onclick="ShowProblem(1)">2</button>
                    <button class="button is-white " onclick="ShowProblem(2)">3</button>
                    <button class="button is-white " onclick="ShowProblem(3)">4</button>
                    <button class="button is-white " onclick="ShowProblem(4)">5</button>
                    
                </div>

                <div class="problem" id="problem" style="display: none;">
                    
                    <img src="" alt="문제 이미지" id="problemImage" reloadable="true"  />   
                    <input class="input" type="text" placeholder="정답" id="inputAnswer" />
                    <button class="button is-primary " id="problemSubmit" onclick="comparison('{{ idName }}')">제출</button>
                    <button class="button is-warning" onclick="HideProblem()">뒤로</button>
                    <button class="button is-danger" id="hintButton" onclick="ShowHint(currentProblem)">힌트 보기</button>
                    


                    <!-- 꽃가루 용 버튼. 숨겨놓았습니다. 건들지 말아주세요. -->
                    <button class="canvasBtn" id="stopButton" style="display: none;">Stop Confetti</button>
	                <button class="canvasBtn" id="startButton" style="display: none;">Drop Confetti</button>	

                
                </div>


                
            </section>

            <section class="section" id="Hint" style="display: none;">
                <h1 class="title">가능하면 힌트를 보지 않고 진행해 주세요.</h1>
                <h2 class="subtitle">
                    <span>힌트를 보시려면 아래로 스크롤 해 주세요</span>
                    </h2>


                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br>
                
                <div class="container" id="commentsBox" >
                    <div class="box">
                        <article class="media">
                        
                        <div class="media-content">
                            <div class="content">
                            <p id="comment">
                                <strong>John Smith</strong> 
                                <br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                efficitur sit amet massa fringilla egestas. Nullam condimentum luctus
                                turpis.
                            </p>
                            </div>
                            
                        </div>
                        </article>
                    </div>

                </div>

                <br><br><br><br>

                {% if idName == "%" %}
                    <h1 class="title">로그인 후 댓글을 작성할 수 있습니다.</h1>
                
                {% else %}

                    <div class="container" id="commentAdder"> 
                        <article class="media">
                            <div class="media-content">
                            <div class="field">
                                <div class="control">
                                <h1 class="title" id="note">직접적인 정답을 기재할 경우 안내 없이 삭제 될 수 있습니다.<br> 다른 사람들이 캠퍼스를 자유롭게 탐험할 수 있도록 지켜주세요!</h1>
                                <textarea class="textarea" id="commentContext" placeholder="최대 50자까지 작성 가능하니다."></textarea>
                                </div>
                            </div>
                            <button class="button is-info" id="postButton" onclick="Post(currentProblem, '{{idName}}')" >게시하기 </button>
                            </div>
                        </article>
                    </div>
                {%endif%}   
            </section>
        
        <script>

            Images=["/static/20250312_131350.jpg","/static/IMG_9105.jpg", "/static/IMG_9102.jpg","/static/IMG_9100.jpg","/static/IMG_9107.jpg",

            ]

            let currentProblem=0;

            let id = JSON.parse('{{ idName | tojson | safe }}');
            let solvedProblems = JSON.parse('{{ solvedProblems | tojson | safe }}');  

            window.onload = function buttonChange() {

                if(id=="%"){
                    alert("게스트로 사용중입니다.");
                }
                else{
                    
                    for (let i = 0; i < 20; i++) {
                        let button = document.querySelector(`button[onclick="ShowProblem(${i})"]`);
                        if (solvedProblems[i]==true) {
                            button.classList.replace("is-white", "is-link");
                        }
                    }
    
                    console.log("Solved Problems:", solvedProblems);  // 콘솔 확인
                }
            };

            function showComments(currentProblem)
            {
                $('#commentsBox').empty()
                
                    $.ajax({
                        type: "GET",
                        url: "/api/comments",
                        data: {probNum : currentProblem},
                        // 여기서 지금 힌트를 확인하고 싶은 문제의 번호가 전송되고, 이게 검색 조건으로 사용 됩니다.
                        success: function(response)
                        {
                            if(response["result"] != 'success')
                        {
                            alert("댓글을 가져오던중 문제가 발생했습니다.")
                        }
                        else
                        {                          
                        let comments = response["list"]
                        for(let i = 0; i < comments.length; i++)
                        {
                        // 조회 해 온 내용은 찾고자 하는 글에만 가져오게 되니 문제가 없습니다.
                        let comment = comments[i];

                        let id = comment['_id']
                        let whoWrote = comment['userID']
                         let contents = comment['contents']
                         let problemNum = comment['problemNum']

                            let commentHTML =
                           `<div class="box">
                            <article class="media">
                            <div class="media-content">
                            <div class="content">
                            <p id="commentwhoPost"><strong>${whoWrote}</strong></p>
                            <p id="commentContent" style="color:black">                             
                              <br/>
                                    ${contents}
                            </p>
                            <button type="button" onclick="delComment('${id}')" class="btn btn-danger delete-button">삭제</button>
                          </div>                       
                        </div>
                      </article>
                </div>`
                    $("#commentsBox").append(commentHTML);
                }
                    
                }
                
                        }
                
                        })


                }
                
                function delComment(dbID)
                {
                    $.ajax({
                    type: "POST",
                    url: "/api/comments/delete",
                    data: {db_id: dbID, whoRequested: '{{idName}}'},
                    success: function (response) { 
                        if (response["result"] == "success") {
                            alert("삭제 완료!!")
                            window.location.href = '/problems'
                        }
                        else
                        {
                            alert("삭제 실패..")
                        }
                    }
                })
                }
            

            // 문제 번호를 눌러 문제를 보입니다.
            function ShowProblem(currentNumber){

                currentProblem=currentNumber;
                let button = document.querySelector(`button[onclick="ShowProblem(${currentProblem})"]`);
                
                document.getElementById("problemImage").setAttribute('src', Images[currentProblem]);

                document.getElementById("inputAnswer").value="";
                document.getElementById("problem").style.display ='Block';	
                document.getElementById("container").style.display ='none';	
                document.getElementById("numbers").style.display ='none';
                document.getElementById("line").style.display ='none';	
                

                // 이미 해결한 문제인 경우
                // 답을 입력하는 부분을 숨깁니다.
                if(button&&button.classList.contains("is-link")){
                    document.getElementById("inputAnswer").style.display='none';
                    document.getElementById("problemSubmit").style.display='none';
                    
                }
                else{
                    // 아직 해결하지 못한 문제인 경우 답 입력 부분을 보입니다.
                    document.getElementById("inputAnswer").style.display='block';
                    document.getElementById("problemSubmit").style.display='block';
                    document.getElementById("problemSubmit").value=""
                }


            }

            function HideProblem(){
                document.getElementById("problem").style.display ='none';
                document.getElementById("container").style.display ='Block';
                document.getElementById("numbers").style.display ='Block';	
                document.getElementById("numbers").style.display ='flex';	
                document.getElementById("line").style.display ='Block';
                HideHint();

            }

            function ShowHint(currentProblem){
                let hintSection = document.getElementById("Hint");
                let hintButton = document.getElementById("hintButton");

                if (hintSection.style.display == "none") {
                    hintSection.style.display = "block";  // 힌트 보이기
                    hintButton.textContent  = "힌트 숨기기";  // 버튼 텍스트 변경
                    hintButton.setAttribute("onclick", "HideHint()");  // Change onclick event
                }
                showComments(currentProblem);

                
                if (solvedProblems[currentProblem]==false) {
                        document.getElementById("commentContext").style.display='none';
                        document.getElementById("postButton").style.display='none';
                        document.getElementById("note").textContent="해결한 문제가 아닌 경우 댓글을 작성할 수 없습니다.";
                }else{
                    document.getElementById("commentContext").style.display='block';
                    document.getElementById("postButton").style.display='block';
                    document.getElementById("note").textContent= `
                    직접적인 정답을 기재할 경우 안내 없이 삭제 될 수 있습니다.
                    다른 사람들이 캠퍼스를 자유롭게 탐험할 수 있도록 지켜주세요! `
                    ;
                }
                
            }

            function HideHint(){
                let hintSection = document.getElementById("Hint");
                let hintButton = document.getElementById("hintButton");

                
                if (hintSection.style.display == "block") {
                    hintSection.style.display = "none";  // 힌트 숨기기
                    hintButton.textContent = "힌트 보기";  // 버튼 텍스트 변경
                    hintButton.setAttribute("onclick", "ShowHint(currentProblem)");  // Change onclick event
                }
            }



            function comparison(idName){
                idName = idName.toString();

                user_answer=document.getElementById("inputAnswer").value;

               
                //db 업데이트
                
                $.ajax({
                    type: "POST",
                    url: "/api/problems",
                    data: {id_give: idName, number_give: currentProblem, answer_give: user_answer},
                    success: function(response) {
                        if (response['result'] == "success"&&response['msg']=="correct") {

                            
                            reAction();
                            alert("정답입니다!");
                            // 버튼 색 변경
            
                            let button = document.querySelector(`button[onclick="ShowProblem(${currentProblem})"]`);
            
                            if (button) {
                                button.classList.replace("is-white", "is-link");
                            }
            
            
                            window.location.href = '/problems'
                            

                        }else if(response['result'] == "success"&&response['msg']=="incorrect"){ 
                            alert("오답입니다.");

                        }else{
                            console.log(response['msg']); // 오류 메시지 표시
                            
                        }
                    },
                    error: function() {
                        alert("서버 요청 중 오류가 발생했습니다.");
                    }
                });

                

                    
                
            }


            function Post(currentProblem, idName){
            
            let whoTryPost = idName.toString();
            let problemNum = currentProblem;
            let _contents = document.getElementById("commentContext").value;

            $.ajax({
                type: "POST",
                url: "/api/comments",
                data: {probNum: problemNum, whoPosting : whoTryPost, contents : _contents},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert("코멘트를 잘 적었습니다!")
                        window.location.href = '/problems'
                        // 코멘트 작성 후에는 새로고침합니다. problem 페이지로 갔을 때 적었던 페이지로 돌아오게끔 해 볼 수 있을지 고민
                    } else {
                        alert("와.. 어떻게 이걸 보다니!!")

                    }
                }
            })
        }


            function reAction(){
                $("#startButton").trigger("click");
                setTimeout(function(){
                    $("#stopButton").trigger("click");
                }, 3000);

            }
            



            function GoMain(){
                window.location.href='/'
            }

            function GoRank(){
                window.location.href='/ranking'
            }

            
        </script>



    </canvas>
    </body>

        
</html>