<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script>
        function login()
            {
                window.location.href='/login'
            }
    </script>
</head>
<body>

    <div class="section">
        <div class="container">
            <h1 class="title">정글러 랭킹</h1>
            <button class="button is-warning is-light" onclick="window.location.href='/'">뒤로 가기</button>
            {% if idName == "%" %}
            <a href="javascript:login()">로그인하고 본인의 정글 탐험도를 다른 구성원들과 경쟁하세요.</a>
        {% else %}
            <a>로그인이 완료되어있는 상태입니다.</a>
        {% endif %}

            <div class="box has-text-centered">정글님 14/20등 입니다!</div>
            <h1 class="title is-1 has-text-centered">현재 랭킹은 222등 입니다!</h1>

            <div class="has-text-centered">
                <button class="button is-primary is-light" style="margin-right: 10px">내 주위 랭킹</button>
                <button class="button is-link is-light">전체 랭킹</button>
            </div>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>닉네임</th>
                        <th>해결한 문제 수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.nick }}</td>
                        <td>{{ user.problemList.count(true) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="has-text-centered">
                <button class="button is-primary" onclick="window.location.href='/'">홈으로</button>
            </div>
        </div>
    </div>
</body>
</html> 